.list{
  display: flex;
  // width: 100%;

  .listContainer{
    flex: 6;



.datatable{
  height: 600px;
  padding: 20px;

  .datatableTitle{
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link{
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg{
    display: flex;
    align-items: center;

    .cellImg{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  .cellColor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 8px;
  }

  .cellWithStatus{
    padding: 5px;
    border-radius: 5px;

    &.active{
      background-color: rgba(0,128,0,0.05);
      color: green;
    }
    &.pending{
      background-color: rgba(0,128,0,0.05);
      color: goldenrod;
    }
    &.passive{
      background-color: rgba(0,128,0,0.05);
      color: crimson;
    }
  }

  .cellAction{
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton{
      padding: 2px 5px;
      border-radius: 5px;
      color: green;
      border: 1px solid rgba(85, 153, 8, 0.623);
      cursor: pointer;
    }

    .viewSizeButton{
      padding: 2px 5px;
      border-radius: 5px;
      color: royalblue;
      border: 1px solid rgba(24, 55, 228, 0.836);
      cursor: pointer;
    }

    .deleteButton{
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px solid rgba(220, 20, 60, 0.623);
      cursor: pointer;
    }
    .changeButton{
      padding: 2px 5px;
      border-radius: 5px;
      color: royalblue;
      border: 1px solid rgba(24, 55, 228, 0.836);
      cursor: pointer;
    }

  }

}
}
}